{
  "routing": {
    // "domainStrategy": "AsIs",
    "domainStrategy": "IPOnDemand",
    "domainMatcher":"hybrid",
    "settings": {
      "rules": [
        {
          "type":"field",
          "outboundTag": "freedom",
          "ip": [
            "127.0.0.1",
            {{exec("ip -o -4 addr show | awk '{print $4}' | cut -d/ -f1 | sed 's/.*/\"&\"/' | tr '\n' ',' ")}}
          ],
          "port":"443,80,53"
        },
        // {
        //   "type": "field", 
        //   "outboundTag": "freedom",
        //   "domain":[
        //     "www.google.com",
        //     "cp.cloudflare.com"
        //   ]
        // },
        { //DNS Cache rule
          "type": "field", "port": 53, "network": "tcp,udp", "outboundTag": "DNS-Internal"
        },
        { //block quic
          "type": "field", "port": 443, "network": "udp", "outboundTag": "blackhole"
        },
        {
            "type": "field", 
            "outboundTag": {% if hconfigs['warp_mode'] == 'all' %}"WARP"{% else %}"forbidden_sites"{% endif %},
            {% if hconfigs['country'] in ['zh','cn'] %}
              "ip": ["geoip:cn"]
            {% elif hconfigs['country'] == 'ir' %}
              "ip": ["geoip:ir"]
            {% elif hconfigs['country'] == 'ru' %}
              "ip": ["geoip:ru"]
            {% else %}
              "ip": ["geoip:cn"]
            {% endif %}
        },
        {
            "type": "field", 
            "outboundTag": {% if hconfigs['warp_mode'] == 'all' %}"WARP"{% else %}"forbidden_sites"{% endif %},
            {% if hconfigs['country'] in ['zh','cn'] %}
              "domain": ["geosite:cn","tld-cn"] 
            {% elif hconfigs['country'] == 'ir' %}
              "domain": ["tld-ir"]
            {% elif hconfigs['country'] == 'ru' %}
              "domain": ["tld-ru"]
            {% else %}
              "domain": ["geosite:cn","tld-cn"] 
            {% endif %}
        },
         {
                "type":"field",
                "outboundTag": {% if hconfigs['warp_mode'] == 'disable' %}"IPv4"{% else %}"WARP"{% endif %},
                "domain":[
                    "geosite:google",
                    "geosite:netflix",
                    "geosite:meta",

                    "domain:ip.gs",
                    {%for d in hconfigs.get('warp_sites','').split('\n')%}
                    ,"domain:{{d.strip()}}"
                    {%endfor%}
                ]
            },
        
        {
          "inboundTag": ["api"], "outboundTag": "api", "type": "field"
        },
        {
          "type": "field", "outboundTag": "blackhole", "ip": ["geoip:private"]
        },
        {// Block BitTorrent protocol
          "type": "field", "outboundTag": "blackhole", "protocol": ["bittorrent"]
        },
        {
          "type": "field",
          "port": "0-65535",
          "outboundTag": {% if hconfigs['warp_mode'] == 'all' %}"WARP"{% else %}"freedom"{% endif %}
        }
      ]
    }
  }

}
